<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HighStakesApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AF4B6711E08BF320040C464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AF4B6851E08BF320040C464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFFFC051E09A9E300B12F66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
